*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:20px;
    text-align: center;
    color:black;
}

body{
    background-color:white;
    font-size:20px;
    font-family:sans-serif;
    
}
img{
    height:200px;
    width:200px;
}
.container{
    margin-left:100px;
    margin-top:20px;
    display:grid;
    height:200px;
    width:200px;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;

}
.grid{
   
}
.grid img{
    border-radius: 50%;
    border:2px double black;
}
